* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

body {
    background-color: #F6F8F9;

}

header {
    height: 80px;
    padding: 13px;
    background-color: #FFFFFF;
}

.logo {
    display: inline-block;
}


h1 {
    display: inline-block;
    padding-left: 0.5rem;
    vertical-align: top;
    margin-top: 0.5rem;
    font-weight: 900;

}

h2{
    display: inline-block;
}

p{
    font-size:0.8rem;
    line-height: 2rem;
}


main {
    margin: 2.5rem auto;
}

.container {
    width: 60%;
    height: 100vh;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 5px;
    padding-left: 1rem;
}

nav {
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 5%;
    border-bottom: 2px solid #F6F8F9;
}

#add_task,
#add_section {
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 12px;
}

#add_task {
    background-color: #47ADF1;
    color: white;
    border: 1px solid #47ADF1;
}

#add_section {
    background-color: white;
    color: #C5CBD0;
    border: 1px solid #C5CBD0;
}

.task {
    margin: 1.3rem 0 2rem;
    padding-left: 1rem;
}

.arrow {
    font-size: .8rem;
    display: inline-block;
}
    

 .check, .uncheck {
    height: 0.8rem;
    width: 0.8rem;
    padding:1px 3px ;  
    border-style: solid;
    border-radius: 100%;
    border-width: 1px; 
    margin-right: 0.8rem;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1.5rem;
}

.check {
    color:#6DC5B1;
    border-color: #6DC5B1;
}

.uncheck {
    color:#EB5A54;
    border-color: #EB5A54;
}

.label {
    color: #FFFFFF;
    border:none;
    border-radius: 8px;
    padding: 0.5% 1%;
    font-size: 0.6rem;
}

.editorial {
    background-color: #47ADF1;
}

.q1_goals {
    background-color: #9C72E4;
}

.recruiting {
    background-color: #64C0A9;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales {
    background-color: #B0C926;
}

.credits{
    text-align: center;
}